html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.parent-container {
    height: 100%;
    width: 100%;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    overflow-y: auto;
    box-shadow: inset 0 0 10px rgb(48, 48, 48);
    border-radius: 5px;
}

.stopwatch-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: max-content;
    max-height: 75%;
    width: 90%;
    overflow-y: auto;
    padding: 15px;
}

.empty-stopwatch-list {
    display: inline-block;
}

.stopwatch-container {
    position: relative;
}

.stopwatch {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    background-color: #ccc;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Courier New', monospace;
    font-weight: 700;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    cursor: pointer;
    border-bottom: 7px solid rgb(114, 114, 114);
    border-left: 7px solid rgb(114, 114, 114);
}

.stopwatch:hover {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
}

.clock-face {
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0 0 10px rgb(48, 48, 48);
    background-color: #fff;
}

.controlpanel-container {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.remove-icon:before {
    content: '✕';
    font-weight: bolder;
}
.remove-icon {
    position: absolute;
    top: -5px;
    right: -2px;
    cursor: pointer;
    font-size: 15px;
    display: none;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
}
.remove-icon:hover {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
}

.stopwatch-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    color: #4e4e4e;
    cursor: pointer;
}

.button-small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 25px;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    color: #4e4e4e;
    cursor: pointer;
}

.button-small:hover {
    box-shadow: 0px 0px 10px 2px #727272;
}

.button-small.start {
    background-color: #27b1d3;
    border-bottom: 2px solid #1c7d96;
    border-left: 2px solid #1c7d96;
}

.button-small.reset {
    background-color: #ED7E7E;
    border-bottom: 2px solid #b96161;
    border-left: 2px solid #b96161;
}

.button:hover {
    box-shadow: 0px 0px 10px 2px #727272;
}

.button.add {
    background-color: #A3CC74;
}

.button.remove {
    background-color: #E9656F;
}

.is-removing-button-state {
    border: 2px solid #E9656F;
    background-color: white !important;
}

div {
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

div::-webkit-scrollbar {
    width: 20px;
}

div::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #2f58c9;
}

.wiggle-animation {
    animation: 0.3s ease 0s infinite wiggle;
    -webkit-animation: 0.3s ease 0s infinite wiggle;
    -moz-animation: 0.3s ease 0s infinite wiggle;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    25% {
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
    }
    50% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    75% {
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-2deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(2deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}